.st0{fill:#2A327C;}
.st1{fill:#FFFFFF;}
.st3{font-size:36.2767px;}
.st5{opacity:0.5;}
.st6{clip-path:url(#SVGID_2_);}
.st7{font-size:15.201px;}
.st8{opacity:0.6;}
.st9{clip-path:url(#SVGID_4_);fill:#4F5BA5;}
.st10{fill:#FDCA32;}
.st11{font-size:21.9876px;}
.st13{font-size:11.3386px;}
.st14{clip-path:url(#SVGID_6_);fill:#FDCA32;}
.st15{font-size:17.0079px;}
.st16{font-size:19.8425px;}
.st17{fill:none;}
.st18{fill:#242F7D;}
.st19{font-weight: 600;}
