.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  background-color: rgb(23, 81, 241);
  color: #ffffff;
  text-transform: capitalize;
  max-height: 50px;
  padding: 10px;
  border-radius: 6px;
}

